<dashboard-pie-chart></dashboard-pie-chart>

<!-- aca empieza el for -->

<div class="col-md-12 col-lg-4">
  <div ba-panel ba-panel-title="Futbol Argentino" ba-panel-class="event-panel light-text">
    <div class="row">
      <div class="col-xs-6 col-sm-4 text-center">
        <img class="img-team" ng-src="{{::( 'lanus' | teamsPicture )}}">
      </div>
      <div class="col-xs-6 col-sm-4 text-center">
      </div>
      <div class="col-xs-6 col-sm-4 text-center">
        <img class="img-team" ng-src="{{::( 'boca' | teamsPicture )}}">
      </div>
    </div>
    <div class="row" style="margin-top:10px;">
      <div class="col-xs-6 col-sm-4 text-center">
        Lanus
      </div>
      <div class="col-xs-6 col-sm-4 text-center">

      </div>
      <div class="col-xs-6 col-sm-4 text-center">
        Boca Junios
      </div>
    </div>
    <div class="row" style="margin-top:10px;">
      <div class="text-center ng-scope">
        <button type="button" class="btn btn-primary" data-toggle="modal" ng-click="open('app/pages/apuesta.html', 'numeroapuesta')">Apostar</button>
      </div>
    </div>
    <div class="row" style="margin-top:20px;">
      <div class="text-center ng-scope">
        Hoy
      </div>
    </div>
  </div>
</div>

<div class="col-md-12 col-lg-4">
  <div ba-panel ba-panel-title="Futbol Argentino" ba-panel-class="event-panel light-text">
    <div class="row">
      <div class="col-xs-6 col-sm-4 text-center">
        <img class="img-team" ng-src="{{::( 'lanus' | teamsPicture )}}">
      </div>
      <div class="col-xs-6 col-sm-4 text-center">
      </div>
      <div class="col-xs-6 col-sm-4 text-center">
        <img class="img-team" ng-src="{{::( 'boca' | teamsPicture )}}">
      </div>
    </div>
    <div class="row" style="margin-top:10px;">
      <div class="col-xs-6 col-sm-4 text-center">
        Lanus
      </div>
      <div class="col-xs-6 col-sm-4 text-center">

      </div>
      <div class="col-xs-6 col-sm-4 text-center">
        Boca Junios
      </div>
    </div>
    <div class="row" style="margin-top:10px;">
      <div class="text-center ng-scope">
        <button type="button" class="btn btn-primary" data-toggle="modal" ng-click="open('app/pages/apuesta.html', 'numeroapuesta')">Apostar</button>
      </div>
    </div>
    <div class="row" style="margin-top:20px;">
      <div class="text-center ng-scope">
        Hoy
      </div>
    </div>
  </div>
</div>

<div class="col-md-12 col-lg-4">
  <div ba-panel ba-panel-title="Futbol Argentino" ba-panel-class="event-panel light-text">
    <div class="row">
      <div class="col-xs-6 col-sm-4 text-center">
        <img class="img-team" ng-src="{{::( 'lanus' | teamsPicture )}}">
      </div>
      <div class="col-xs-6 col-sm-4 text-center">
      </div>
      <div class="col-xs-6 col-sm-4 text-center">
        <img class="img-team" ng-src="{{::( 'boca' | teamsPicture )}}">
      </div>
    </div>
    <div class="row" style="margin-top:10px;">
      <div class="col-xs-6 col-sm-4 text-center">
        Lanus
      </div>
      <div class="col-xs-6 col-sm-4 text-center">

      </div>
      <div class="col-xs-6 col-sm-4 text-center">
        Boca Junios
      </div>
    </div>
    <div class="row" style="margin-top:10px;">
      <div class="text-center ng-scope">
        <button type="button" class="btn btn-primary" data-toggle="modal" ng-click="open('app/pages/apuesta.html', 'numeroapuesta')">Apostar</button>
      </div>
    </div>
    <div class="row" style="margin-top:20px;">
      <div class="text-center ng-scope">
        Hoy
      </div>
    </div>
  </div>
</div>

<div class="col-md-12 col-lg-4">
  <div ba-panel ba-panel-title="Futbol Argentino" ba-panel-class="event-panel light-text">
    <div class="row">
      <div class="col-xs-6 col-sm-4 text-center">
        <img class="img-team" ng-src="{{::( 'lanus' | teamsPicture )}}">
      </div>
      <div class="col-xs-6 col-sm-4 text-center">
      </div>
      <div class="col-xs-6 col-sm-4 text-center">
        <img class="img-team" ng-src="{{::( 'boca' | teamsPicture )}}">
      </div>
    </div>
    <div class="row" style="margin-top:10px;">
      <div class="col-xs-6 col-sm-4 text-center">
        Lanus
      </div>
      <div class="col-xs-6 col-sm-4 text-center">

      </div>
      <div class="col-xs-6 col-sm-4 text-center">
        Boca Junios
      </div>
    </div>
    <div class="row" style="margin-top:10px;">
      <div class="text-center ng-scope">
        <button type="button" class="btn btn-primary" data-toggle="modal" ng-click="open('app/pages/apuesta.html', 'numeroapuesta')">Apostar</button>
      </div>
    </div>
    <div class="row" style="margin-top:20px;">
      <div class="text-center ng-scope">
        Hoy
      </div>
    </div>
  </div>
</div>

<div class="col-md-12 col-lg-4">
  <div ba-panel ba-panel-title="Futbol Argentino" ba-panel-class="event-panel light-text">
    <div class="row">
      <div class="col-xs-6 col-sm-4 text-center">
        <img class="img-team" ng-src="{{::( 'lanus' | teamsPicture )}}">
      </div>
      <div class="col-xs-6 col-sm-4 text-center">
      </div>
      <div class="col-xs-6 col-sm-4 text-center">
        <img class="img-team" ng-src="{{::( 'boca' | teamsPicture )}}">
      </div>
    </div>
    <div class="row" style="margin-top:10px;">
      <div class="col-xs-6 col-sm-4 text-center">
        Lanus
      </div>
      <div class="col-xs-6 col-sm-4 text-center">

      </div>
      <div class="col-xs-6 col-sm-4 text-center">
        Boca Junios
      </div>
    </div>
    <div class="row" style="margin-top:10px;">
      <div class="text-center ng-scope">
        <button type="button" class="btn btn-primary" data-toggle="modal" ng-click="open('app/pages/apuesta.html', 'numeroapuesta')">Apostar</button>
      </div>
    </div>
    <div class="row" style="margin-top:20px;">
      <div class="text-center ng-scope">
        Hoy
      </div>
    </div>
  </div>
</div>

<div class="col-md-12 col-lg-4">
  <div ba-panel ba-panel-title="Futbol Argentino" ba-panel-class="event-panel light-text">
    <div class="row">
      <div class="col-xs-6 col-sm-4 text-center">
        <img class="img-team" ng-src="{{::( 'lanus' | teamsPicture )}}">
      </div>
      <div class="col-xs-6 col-sm-4 text-center">
      </div>
      <div class="col-xs-6 col-sm-4 text-center">
        <img class="img-team" ng-src="{{::( 'boca' | teamsPicture )}}">
      </div>
    </div>
    <div class="row" style="margin-top:10px;">
      <div class="col-xs-6 col-sm-4 text-center">
        Lanus
      </div>
      <div class="col-xs-6 col-sm-4 text-center">

      </div>
      <div class="col-xs-6 col-sm-4 text-center">
        Boca Junios
      </div>
    </div>
    <div class="row" style="margin-top:10px;">
      <div class="text-center ng-scope">
        <button type="button" class="btn btn-primary" data-toggle="modal" ng-click="open('app/pages/apuesta.html', 'numeroapuesta')">Apostar</button>
      </div>
    </div>
    <div class="row" style="margin-top:20px;">
      <div class="text-center ng-scope">
        Hoy
      </div>
    </div>
  </div>
</div>

<div class="col-md-12 col-lg-4">
  <div ba-panel ba-panel-title="Futbol Argentino" ba-panel-class="event-panel light-text">
    <div class="row">
      <div class="col-xs-6 col-sm-4 text-center">
        <img class="img-team" ng-src="{{::( 'lanus' | teamsPicture )}}">
      </div>
      <div class="col-xs-6 col-sm-4 text-center">
      </div>
      <div class="col-xs-6 col-sm-4 text-center">
        <img class="img-team" ng-src="{{::( 'boca' | teamsPicture )}}">
      </div>
    </div>
    <div class="row" style="margin-top:10px;">
      <div class="col-xs-6 col-sm-4 text-center">
        Lanus
      </div>
      <div class="col-xs-6 col-sm-4 text-center">

      </div>
      <div class="col-xs-6 col-sm-4 text-center">
        Boca Junios
      </div>
    </div>
    <div class="row" style="margin-top:10px;">
      <div class="text-center ng-scope">
        <button type="button" class="btn btn-primary" data-toggle="modal" ng-click="open('app/pages/apuesta.html', 'numeroapuesta')">Apostar</button>
      </div>
    </div>
    <div class="row" style="margin-top:20px;">
      <div class="text-center ng-scope">
        Hoy
      </div>
    </div>
  </div>
</div>

<div class="col-md-12 col-lg-4">
  <div ba-panel ba-panel-title="Futbol Argentino" ba-panel-class="event-panel light-text">
    <div class="row">
      <div class="col-xs-6 col-sm-4 text-center">
        <img class="img-team" ng-src="{{::( 'lanus' | teamsPicture )}}">
      </div>
      <div class="col-xs-6 col-sm-4 text-center">
      </div>
      <div class="col-xs-6 col-sm-4 text-center">
        <img class="img-team" ng-src="{{::( 'boca' | teamsPicture )}}">
      </div>
    </div>
    <div class="row" style="margin-top:10px;">
      <div class="col-xs-6 col-sm-4 text-center">
        Lanus
      </div>
      <div class="col-xs-6 col-sm-4 text-center">

      </div>
      <div class="col-xs-6 col-sm-4 text-center">
        Boca Junios
      </div>
    </div>
    <div class="row" style="margin-top:10px;">
      <div class="text-center ng-scope">
        <button type="button" class="btn btn-primary" data-toggle="modal" ng-click="open('app/pages/apuesta.html', 'numeroapuesta')">Apostar</button>
      </div>
    </div>
    <div class="row" style="margin-top:20px;">
      <div class="text-center ng-scope">
        Hoy
      </div>
    </div>
  </div>
</div>

<div class="col-md-12 col-lg-4">
  <div ba-panel ba-panel-title="Futbol Argentino" ba-panel-class="event-panel light-text">
    <div class="row">
      <div class="col-xs-6 col-sm-4 text-center">
        <img class="img-team" ng-src="{{::( 'lanus' | teamsPicture )}}">
      </div>
      <div class="col-xs-6 col-sm-4 text-center">
      </div>
      <div class="col-xs-6 col-sm-4 text-center">
        <img class="img-team" ng-src="{{::( 'boca' | teamsPicture )}}">
      </div>
    </div>
    <div class="row" style="margin-top:10px;">
      <div class="col-xs-6 col-sm-4 text-center">
        Lanus
      </div>
      <div class="col-xs-6 col-sm-4 text-center">

      </div>
      <div class="col-xs-6 col-sm-4 text-center">
        Boca Junios
      </div>
    </div>
    <div class="row" style="margin-top:10px;">
      <div class="text-center ng-scope">
        <button type="button" class="btn btn-primary" data-toggle="modal" ng-click="open('app/pages/apuesta.html', 'numeroapuesta')">Apostar</button>
      </div>
    </div>
    <div class="row" style="margin-top:20px;">
      <div class="text-center ng-scope">
        Hoy
      </div>
    </div>
  </div>
</div>

<div class="col-md-12 col-lg-4">
  <div ba-panel ba-panel-title="Futbol Argentino" ba-panel-class="event-panel light-text">
    <div class="row">
      <div class="col-xs-6 col-sm-4 text-center">
        <img class="img-team" ng-src="{{::( 'lanus' | teamsPicture )}}">
      </div>
      <div class="col-xs-6 col-sm-4 text-center">
      </div>
      <div class="col-xs-6 col-sm-4 text-center">
        <img class="img-team" ng-src="{{::( 'boca' | teamsPicture )}}">
      </div>
    </div>
    <div class="row" style="margin-top:10px;">
      <div class="col-xs-6 col-sm-4 text-center">
        Lanus
      </div>
      <div class="col-xs-6 col-sm-4 text-center">

      </div>
      <div class="col-xs-6 col-sm-4 text-center">
        Boca Junios
      </div>
    </div>
    <div class="row" style="margin-top:10px;">
      <div class="text-center ng-scope">
        <button type="button" class="btn btn-primary" data-toggle="modal" ng-click="open('app/pages/apuesta.html', 'numeroapuesta')">Apostar</button>
      </div>
    </div>
    <div class="row" style="margin-top:20px;">
      <div class="text-center ng-scope">
        Hoy
      </div>
    </div>
  </div>
</div>

<div class="col-md-12 col-lg-4">
  <div ba-panel ba-panel-title="Futbol Argentino" ba-panel-class="event-panel light-text">
    <div class="row">
      <div class="col-xs-6 col-sm-4 text-center">
        <img class="img-team" ng-src="{{::( 'lanus' | teamsPicture )}}">
      </div>
      <div class="col-xs-6 col-sm-4 text-center">
      </div>
      <div class="col-xs-6 col-sm-4 text-center">
        <img class="img-team" ng-src="{{::( 'boca' | teamsPicture )}}">
      </div>
    </div>
    <div class="row" style="margin-top:10px;">
      <div class="col-xs-6 col-sm-4 text-center">
        Lanus
      </div>
      <div class="col-xs-6 col-sm-4 text-center">

      </div>
      <div class="col-xs-6 col-sm-4 text-center">
        Boca Junios
      </div>
    </div>
    <div class="row" style="margin-top:10px;">
      <div class="text-center ng-scope">
        <button type="button" class="btn btn-primary" data-toggle="modal" ng-click="open('app/pages/apuesta.html', 'numeroapuesta')">Apostar</button>
      </div>
    </div>
    <div class="row" style="margin-top:20px;">
      <div class="text-center ng-scope">
        Hoy
      </div>
    </div>
  </div>
</div>